body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
    font-size: 18px;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1em;
}

label{
    padding: 1em 0 1em;
}

input{
    margin-top: .5em;
    padding: .5em;
}

input[type=submit]{
    width: 190px;
    margin-left: 3.6em;
    margin-top: .5em;
}

ul {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    
}

li {
    border: 1px solid black;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    height: 2em;
    padding: 1em
}

li  input{
    width: 150px;
    margin-left: 1em;

}