<html>
  <head>
  </head>
  <body>
    <h1>Edição do Cadastro de Usuário</h1>
    <form action="/cadastro/usuario/edit/salvar" method="post">
      <input name="id" type="hidden" value=<%=usuario.id %> >
      <label>Nome: </label>
      <input name="nome" type="text" value= <%=usuario.nome %> ><br />
      <input name="senha" type="hidden" value=<%=usuario.senha %>><br />
   
      <input type="submit" value="Alterar" />
    </form>
   </body>
</html>